<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">New Semester</h1>
  </div>

  <div class="row-fluid centered-form center-block">
    <div class="container col-md-3 col-md-offset-4">
      <div class="span4 well">
        <%=render 'form', semester: @semester%>
      </div>
        <%= link_to 'Back', semesters_path %>
    </div>
  </div>
</div>