<div class="container">
  <br>
  <br>
  <br>
  <div class="jumbotron">
    <h1 class="text-center">Editing Course</h1>
  </div>

  <div class="row-fluid centered-form center-block">
    <div class="container col-md-3 col-md-offset-4">
      <div class="span4 well">
      <%= render 'form', course: @course %>
      </div>

      <%= link_to 'Show', @course %> |
      <%= link_to 'Back', courses_path %>
    </div>
  </div>
</div>