/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


  nav .navbar-brand {
    font-size: 30px;
}
  nav .navbar-toggle {
    margin: 13px 15px 13px 0;
}
  nav a {
    font-size: 18px;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
  nav.navbar.shrink {
    min-height: 35px;
}
  nav.navbar.shrink .navbar-brand {
    font-size: 45px;
}
  nav.navbar.shrink a {
    font-size: 20px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}
  nav.navbar.shrink .navbar-toggle {
    margin: 8px 15px 8px 0;
    padding: 4px 5px;
}

body{
  padding-top: 61px;
}

.footer {
  position: fixed;

  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  opacity: 0.5;
}

.background{

  background-image: url('course1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}

.alert{
  margin-bottom: 0px!important;
}